[submodule "git-merge-repos"]
	path = git-merge-repos
	url = https://github.com/robinst/git-merge-repos.git
[submodule "git-subsplit"]
	path = git-subsplit
	url = https://github.com/dflydev/git-subsplit.git
